.md-typeset div.arithmatex  {
    overflow: initial;
}

.md-typeset .admonition {
    font-size: 0.8rem;
}

.md-typeset details {
    font-size: 0.8rem;
}

.center {
    display: block;
    margin: 0 auto;
}

.w640 {
    width: 640px;
}
img:active[src*="#zoom"] {
    cursor: zoom-out;
    transform: scale(2.0);
}

img[src*="#zoom"] {
    cursor: zoom-in;
}

.zoom {
    cursor: zoom-in;
    /* transform: scale(2.0); */
}